In [1]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
data = {
    'Name' : ['pavan','mohan'],
    'Age' : [22,20],
    'City' : ['Bhongir','PPT']
}
df = pd.DataFrame(data)
print(df)

    Name  Age     City
0  pavan   22  Bhongir
1  mohan   20      PPT

In [3]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(2))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1

In [4]:
print(df.tail(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

In [6]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [7]:
import pandas as pd
data = {
    'Name' : ['pavan','mohan'],
    'Age' : [22,20],
    'City' : ['Bhongir','PPT']
}
d = pd.DataFrame(data)
print(d['Name'])

0    pavan
1    mohan
Name: Name, dtype: object

In [8]:
print(d[['Age','Name']])

   Age   Name
0   22  pavan
1   20  mohan

In [9]:
print(d.iloc[1])

Name    mohan
Age        20
City      PPT
Name: 1, dtype: object

In [10]:
f = d[d['Age']>21]
print(f)

    Name  Age     City
0  pavan   22  Bhongir

In [11]:
import pandas as pd
g = pd.read_csv("transactions.csv")
g.rename(columns={"Quantity":"Quant"},inplace = True )
print(g.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [12]:
print(g.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quant              0
dtype: int64

In [13]:
import pandas as pd
df = pd.read_csv("transactions.csv")
subset_rows = df.iloc[[0,2,5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [14]:
#Exercise Questions
#1.Print Summary of transaction data set
import pandas as pd
df = pd.read_csv("transactions.csv")
summary = df.describe()
print(summary)

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [15]:
#2.Print Numbers of Attributes
num_columns = df.shape[1]
print(f"Number of attributes (columns): {num_columns}")

Number of attributes (columns): 5

In [16]:
#3. Number of records (rows)
num_rows = df.shape[0]
print(f"Number of records (rows): {num_rows}")

Number of records (rows): 10

In [17]:
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [18]:
#4.Get the row names
print("Row names (index labels):")
print(df.index.tolist())

Row names (index labels):
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#5. Print column names
print("Column names:")
print(df.columns.tolist())

Column names:
['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [20]:
#6.View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [21]:
#7.Change the name of column “ Quantity” to “Quant”
df.rename(columns= {"Quantity":"Quant"}, inplace= True)
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quant'], dtype='object')

In [22]:
#8.Change the name of columns ProductID and UserID to PID and UID respectively
df.rename(columns= {"ProductID":"PID","UserID":"UID"}, inplace= True)
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quant'], dtype='object')

In [26]:
#9. Order the rows of transactions by TransactionId
#descending, if ascending then ascending=True
sorted_desc = df.sort_values(by='TransactionID', ascending=False)
print("Sorted by TransactionId (descending):")
print(sorted_desc)

sorted_asn = df.sort_values(by='TransactionID', ascending=True)
print("Sorted by TransactionId (ascending):")
print(sorted_asn)

Sorted by TransactionId (descending):
   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
Sorted by TransactionId (ascending):
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [28]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending


sorted_df = df.sort_values(by=[ 'Quant','TransactionDate'], ascending=[True, False])

print("Sorted (Quantity ascending, TransactionDate descending):")
print(sorted_df)

Sorted (Quantity ascending, TransactionDate descending):
   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [29]:
#Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID

transactions = df[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]
print(transactions)

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

In [31]:
#12. Make UserID the first column of transactions
transactions = df[[ 'UID','PID', 'Quant', 'TransactionDate', 'TransactionID']]
print(transactions)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [33]:
#13. Extracting arrays from a Data Frame. Get the 2nd column
second_column = transactions.iloc[:, 1] # only colon means select all rows
print(second_column)

#by using column names
second_columnn = transactions['PID']
print(second_columnn)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: PID, dtype: int64
0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: PID, dtype: int64

In [35]:
#14. Get the ProductID Array
pid_array = transactions['PID'].values
print(pid_array)

[2 4 3 2 4 5 4 2 4 4]

In [28]:
#15. Get the ProductId array using the following variable Data Mining Lab Manual AY:19-20 Page 5
pid_array = transactions['PID'].values
print(pid_array)

[2 4 3 2 4 5 4 2 4 4]

In [29]:
#16.Row subsetting, subset rows 1,3 and 6
subset_rows = df.iloc[[1, 3, 6]]
print(subset_rows)

   TransactionID TransactionDate  UID  PID  Quant
1              2      2011-05-26  3.0    4      1
3              4      2012-08-26  1.0    2      3
6              7      2013-12-30  3.0    4      1

In [30]:
#17. subset rows excluding 1,3 and 6
subset_rows = df.drop(index = [1, 3, 6])
print(subset_rows)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
2              3      2011-06-16  3.0    3      1
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [32]:
#18. Subset the first three rows
subset_rows = df.iloc[:3]
print(subset_rows)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1

In [36]:
#19. Subset the last 2 rows
subset_rows = df.iloc[-2:]
print(subset_rows)

   TransactionID TransactionDate  UID  PID  Quant
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [38]:
#20. Subset rows excluding the last 2 rows
subset_rows = df.iloc[:-2]  # Excludes the last two rows
print(subset_rows)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3

In [39]:
#21. Subset rows excluding the first 3 rows
subset_rows = df.iloc[3:]  # Excludes the last two rows
print(subset_rows)

   TransactionID TransactionDate  UID  PID  Quant
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [41]:
#22. Subset rows where Quantity>1
subset_row = df[df['Quant']>1]
print(subset_row)

   TransactionID TransactionDate  UID  PID  Quant
3              4      2012-08-26  1.0    2      3
5              6      2013-12-23  2.0    5      6
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [44]:
#23. Subset rows where UserID=2
import pandas as pd
df = pd.read_csv("transactions.csv")
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [45]:
subset_row = df[df['UserID'] == 2]
print(subset_row)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [48]:
#24. Subset rows where Quantity>1 and UserID=2
subset_row = df[(df['UserID'] == 2) & (df['Quantity'] > 1)]
print(subset_row)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [50]:
#25. Subset rows where Quantity + UserID is >3
subset_row = df[df['UserID' ]+df['Quantity'] >3]
print(subset_row)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [51]:
#26. Subset rows where an external array, foo, is True
#foo should match no of rows
foo = [True, False,True,False,True,False,False,True,True,False]
subset_row = df[foo]
print(subset_row)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [53]:
#27. Subset rows where an external array, bar, is positive
import numpy as np
bar = np.array([5, -3, 7, -1, 4, -6, 3, -2, 9, 0])
subset_rows = df[bar > 0]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [54]:
#28. Subset rows where foo is TRUE or bar is negative
subset_rows = df[(foo == True) | (bar < 0)]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3

In [55]:
#29. Subset the rows where foo is not TRUE and bar is not negative
subset_rows = df[(foo != True) & (bar >= 0)]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [56]:
#30. Subset by columns 1 and 3
subset_cols = df.iloc[:, [1, 3]]
print(subset_cols)

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [57]:
#31. Subset by columns TransactionID and TransactionDate
subset_cols = df[['TransactionID', 'TransactionDate']]
print(subset_cols)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [58]:
#32. Subset by columns TransactionID and TransactionDate with logical operator
subset_cols = df.loc[:, (df.columns == 'TransactionID') | (df.columns == 'TransactionDate')]
print(subset_cols)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [59]:
#33. Subset columns by a variable list of column names
columns_to_select = ['TransactionID', 'TransactionDate', 'UserID']


subset_cols = df.loc[:, columns_to_select]

print(subset_cols)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [60]:
#34. Subset columns excluding a variable list of column names
columns_to_exclude = ['TransactionID', 'TransactionDate']


subset_cols = df.drop(columns=columns_to_exclude)

print(subset_cols)

   UserID  ProductID  Quantity
0     7.0          2         1
1     3.0          4         1
2     3.0          3         1
3     1.0          2         3
4     2.0          4         1
5     2.0          5         6
6     3.0          4         1
7     NaN          2         3
8     7.0          4         3
9     3.0          4         4

In [61]:
#35. Inserting and updating values
df.loc[df['UserID'] == 3, 'Quantity'] = 99  # Update 'Quantity' where 'UserID' is 3
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4        99
2              3      2011-06-16     3.0          3        99
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4        99
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4        99

In [66]:
#inserting a new row
df.loc[len(df)] = [11, '2002-09-01', 4.0, 9, 55]
df

    TransactionID TransactionDate  UserID  ProductID  Quantity
0             1.0      2010-08-21     7.0        2.0       1.0
1             2.0      2011-05-26     3.0        4.0      99.0
2             3.0      2011-06-16     3.0        3.0      99.0
3             4.0      2012-08-26     1.0        2.0       3.0
4             5.0      2013-06-06     2.0        4.0       1.0
5             6.0      2013-12-23     2.0        5.0       6.0
6             7.0      2013-12-30     3.0        4.0      99.0
7             8.0      2014-04-24     NaN        2.0       3.0
8             9.0      2015-04-24     7.0        4.0       3.0
9            10.0      2016-05-08     3.0        4.0      99.0
10           11.0      222.444444     4.0        9.0      55.0
11           11.0          1992.0     4.0        9.0      55.0
12           11.0        2002-9-1     4.0        9.0      55.0
13           11.0      2002-09-01     4.0        9.0      55.0

In [72]:
df

    TransactionID TransactionDate  UserID  ProductID  Quantity   new
0             1.0      2010-08-21     7.0        2.0       1.0   9.0
1             2.0      2011-05-26     3.0        4.0      99.0   7.0
2             3.0      2011-06-16     3.0        3.0      99.0   6.0
3             4.0      2012-08-26     1.0        2.0       3.0   3.0
4             5.0      2013-06-06     2.0        4.0       1.0   6.0
5             6.0      2013-12-23     2.0        5.0       6.0   7.0
6             7.0      2013-12-30     3.0        4.0      99.0   7.0
7             8.0      2014-04-24     NaN        2.0       3.0   NaN
8             9.0      2015-04-24     7.0        4.0       3.0  11.0
9            10.0      2016-05-08     3.0        4.0      99.0   7.0
10           11.0      222.444444     4.0        9.0      55.0  13.0
11           11.0          1992.0     4.0        9.0      55.0  13.0
12           11.0        2002-9-1     4.0        9.0      55.0  13.0
13           11.0      2002-09-01     4.0        9.0      55.0  13.0

In [74]:
#36. Convert the TransactionDate column to type Date
#df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df = df.drop(index=[10, 11, 12])

# Reset index after dropping rows
df = df.reset_index(drop=True)

# Print the cleaned DataFrame
print(df)

    TransactionID TransactionDate  UserID  ProductID  Quantity   new
0             1.0      2010-08-21     7.0        2.0       1.0   9.0
1             2.0      2011-05-26     3.0        4.0      99.0   7.0
2             3.0      2011-06-16     3.0        3.0      99.0   6.0
3             4.0      2012-08-26     1.0        2.0       3.0   3.0
4             5.0      2013-06-06     2.0        4.0       1.0   6.0
5             6.0      2013-12-23     2.0        5.0       6.0   7.0
6             7.0      2013-12-30     3.0        4.0      99.0   7.0
7             8.0      2014-04-24     NaN        2.0       3.0   NaN
8             9.0      2015-04-24     7.0        4.0       3.0  11.0
9            10.0      2016-05-08     3.0        4.0      99.0   7.0
10           11.0      2002-09-01     4.0        9.0      55.0  13.0

In [75]:
#36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID             float64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                 float64
Quantity                  float64
new                       float64
dtype: object

In [76]:
#37. Insert a new column, Foo=UserID+ProductID
df['new'] = df['UserID'] + df['ProductID']
df

    TransactionID TransactionDate  UserID  ProductID  Quantity   new
0             1.0      2010-08-21     7.0        2.0       1.0   9.0
1             2.0      2011-05-26     3.0        4.0      99.0   7.0
2             3.0      2011-06-16     3.0        3.0      99.0   6.0
3             4.0      2012-08-26     1.0        2.0       3.0   3.0
4             5.0      2013-06-06     2.0        4.0       1.0   6.0
5             6.0      2013-12-23     2.0        5.0       6.0   7.0
6             7.0      2013-12-30     3.0        4.0      99.0   7.0
7             8.0      2014-04-24     NaN        2.0       3.0   NaN
8             9.0      2015-04-24     7.0        4.0       3.0  11.0
9            10.0      2016-05-08     3.0        4.0      99.0   7.0
10           11.0      2002-09-01     4.0        9.0      55.0  13.0